<header>
  <a href="#"><h1>{{site.title | escape}}</h1></a>
  <nav>
    <ul>
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/about/">About</a>
      </li>
      <li>
	<a href="#">Music
	  <span>
	    <div class="caret"></div>
	  </span>
	</a>
	<div>
	  <ul>
	    <li>
	      <a href="/lessons/">Lessons</a>
	    </li>
	    <li>
	      <a href="/compositions/">Compositions</a>
	    </li>
	    <li>
	      <a href="/recordings/">Recordings</a>
	    </li>
	  </ul>
	</div>
      </li>
      <li>
	<a href="#">Games
	  <span>
	    <div class="caret"></div>
	  </span>
	</a>
	<div>
	  <ul>
	    <li>
	      <a href="/games/">My Games</a>
	    </li>
	    <li>
	      <a href="/logs/">TTRPG Logs</a>
	    </li>
	    <li>
	      <a href="/reviews/">Reviews</a>
	    </li>
	  </ul>
	</div>
      </li>
      <li>
	<a href="#">Fiction
	  <span>
	    <div class="caret"></div>
	  </span>
	</a>
	<div>
	  <ul>
	    <li>
	      <a href="/novels/">Novel Drafts</a>
	    </li>
	    <li>
	      <a href="/serials/">Serial Fiction</a>
	    </li>
	    <li>
	      <a href="/tintenn/">Tintenn Archive</a>
	    </li>
	  </ul>
	</div>
      </li>
      <li>
	<a href="#">Computers
	  <span>
	    <div class="caret"></div>
	  </span>
	</a>
	<div>
	  <ul>
	    <li>
	      <a href="/software/">Software</a>
	    </li>
	    <li>
	      <a href="/support/">Tech Support</a>
	    </li>
	    <li>
	      <a href="/linux/">GNU/Linux</a>
	    </li>
	    <li>
	      <a href="/howtos/">How-Tos</a>
	    </li>
	  </ul>
	</div>
      </li>
      <li>
	<a href="#">Misc
	  <span>
	    <div class="caret"></div>
	  </span>
	</a>
	<div>
	  <ul>
	    <li>
	      <a href="/links/">Links</a>
	    </li>
	    <li>
	      <a href="/conlangs/">Conlangs</a>
	    </li>
	    <li>
	      <a href="/collections/">Collections</a>
	    </li>
	    <li>
	      <a href="/stuff/">Other Stuff</a>
	    </li>
	  </ul>
	</div>
      </li>
      <li>
	<a href="http://toftandtoddy.com">Blog</a>
      </li>
    </ul>
  </nav>
</header>
