<div id="subcontent">
  <a href="https://twitter.com/cdr255" data-widget-id="346527819267973120" data-tweet-limit="1" data-chrome="nofooter transparent noscrollbar noborders noheader" data-aria-polite="assertive" data-link-color="#aa2222" class="twitter-timeline">Tweets by @cdr255
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
  <script id="fb2por6">(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=cdr255&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb2por6');
  </script>
  <a href="http://www.w3.org/html/logo/">
    <img src="https://s3.amazonaws.com/cdr255/use-html5.png" alt="" title=""/>
  </a>
  <a href="http://www.gnu.org/software/emacs/">
    <img src="https://s3.amazonaws.com/cdr255/use-emacs.png" alt="" title=""/>
  </a>
  <a href="http://www.zegeniestudios.net/ldc/">
    <img src="https://s3.amazonaws.com/cdr255/use-gnu_linux.png" alt="" title=""/>
  </a>
  <a href="http://www.slackware.com">
    <img src="https://s3.amazonaws.com/cdr255/use-slackware.png" alt="" title=""/>
  </a>
  <a href="http://kramdown.gettalong.org/">
    <img src="https://s3.amazonaws.com/cdr255/use-kramdown.png" alt="" title=""/>
  </a>
  <a href="http://lilypond.org/">
    <img src="https://s3.amazonaws.com/cdr255/use-lilypond.png" alt="" title=""/>
  </a>
  <a href="https://common-lisp.net/">
    <img src="https://s3.amazonaws.com/cdr255/use-lisp.png" alt="" title=""/>
  </a>
  <a href="https://nodejs.org/en/">
    <img src="https://s3.amazonaws.com/cdr255/use-node_js.png" alt="" title=""/>
  </a>
</div>
