<div id="subcontent">
  <a href="https://twitter.com/cdr255" data-widget-id="346527819267973120" data-tweet-limit="1" data-chrome="nofooter transparent noscrollbar noborders noheader" data-aria-polite="assertive" data-link-color="#aa2222" class="twitter-timeline">Tweets by @cdr255
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
  <a href="http://www.w3.org/html/logo/">
    <img src="/assets/img/use-html5.png" alt="" title=""/>
  </a>
  <a href="http://www.gnu.org/software/emacs/">
    <img src="/assets/img/use-emacs.png" alt="" title=""/>
  </a>
  <a href="http://refspecs.linuxfoundation.org/lsb.shtml">
    <img src="/assets/img/use-lsb.png" alt="" title=""/>
  </a>
  <a href="https://www.opensuse.org/">
    <img src="/assets/img/use-opensuse.png" alt="" title=""/>
  </a>
  <a href="http://kramdown.gettalong.org/">
    <img src="/assets/img/use-kramdown.png" alt="" title=""/>
  </a>
  <a href="http://lilypond.org/">
    <img src="/assets/img/use-lilypond.png" alt="" title=""/>
  </a>
  <a href="https://common-lisp.net/">
    <img src="/assets/img/use-lisp.png" alt="" title=""/>
  </a>
  <a href="https://www.ruby-lang.org/en/">
    <img src="/assets/img/use-ruby.png" alt="" title=""/>
  </a>
  <a href="https://isocpp.org/">
    <img src="/assets/img/use-cpp.png" alt="" title=""/>
  </a>
  <a href="https://cmake.org/">
    <img src="/assets/img/use-cmake.png" alt="" title=""/>
  </a>
</div>
